<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Photos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        .image-container {
            width: 95%; /* Set container width */
            margin: 0 auto; /* Center container */
            overflow: hidden; /* Hide any overflow */
        }
        .hover-image {
            width: 100%; /* Set image size */
            height: auto;
            object-fit: contain;
            transition: transform 0.3s ease; /* Smooth zoom effect */
            border: 1px solid #eee;
        }
        .hover-image:hover {
            cursor: pointer ; /* Changes the cursor to a zoom-in style on hover */
            transform: scale(1.2); /* Zoom in by 20% */
        }
    </style>
    <script>
        const img = document.getElementById('image');

        img.onload = function() {
            // Check if the image is landscape or portrait
            const isLandscape = img.width > img.height;

            if (isLandscape) {
                // For landscape images, you can adjust the height as well
                img.style.height = 'auto';
            } else {
                // For portrait images, height will be automatically adjusted
                img.style.height = 'auto';
            }
        };
    </script>
</head>
<body onload="getPhotos()">
<div class="container border rounded p-3 mb-5">
    <div class="row mt-2">
        <div class="col-12">
            <h1 class="text-center text-primary">Photos</h1>
                <div id="allphotos" class="row p-3 mb-5">

                </div>
        </div>
    </div>
</div>

<script>
    function getPhotos() {
        fetch('/getphotos').then(response => response.json()).then(data => {
            console.log(data);
            // Get the base URL
            const baseURL = `${window.location.protocol}//${window.location.host}/`;
            var s = "";
            data.forEach(element => {
                var img = element.split('\\').pop();
                console.log(img);
                s += `<div class="col-md-3 col-xs-12 col-sm-2"><div class="image-container"><img id="image" src="../uploads//${img}" alt="${img}" class="hover-image shadow-sm p-2 mb-3 bg-body-tertiary rounded" /></div></div>`;
            })
            document.getElementById("allphotos").innerHTML = s;
            // responseElement.textContent = JSON.stringify(data, null, 2);
        })
    }
</script>

</body>
</html>
